In [1]:
import pandas as pd
tabla = pd.read_csv('../data/results/ForbesBillionaires2018_add_info.csv', sep=',', index_col=0)

In [2]:
tabla

,Name,LastName,Age,Gender,Country,City,Worth,Image,Company,Sector,FinancialAssets
Position,,,,,,,,,,,
1,Jeff Bezos,Bezos,54,Male,United States,Seattle,112.0,https://specials-images.forbesimg.com/imageser...,Amazon,Technology,"[{'exchange': 'NASDAQ', 'ticker': 'AMZN-US', '..."
2,Bill Gates,Gates,62,Male,United States,Medina,90.0,https://specials-images.forbesimg.com/imageser...,Microsoft,Technology,"[{'exchange': 'NASDAQ', 'ticker': 'ACGL-US', '..."
3,Warren Buffett,Buffett,87,Male,United States,Omaha,84.0,https://specials-images.forbesimg.com/imageser...,Berkshire Hathaway,Finance And Investments,"[{'exchange': 'NYSE', 'ticker': 'BRK.A-US', 'c..."
4,Bernard Arnault,Arnault,69,NaN,France,NaN,72.0,https://specials-images.forbesimg.com/imageser...,Lvmh,Fashion & Retail,NaN
5,Mark Zuckerberg,Zuckerberg,35,Male,United States,Palo Alto,71.0,https://specials-images.forbesimg.com/imageser...,Facebook,Technology,"[{'exchange': 'NASDAQ', 'ticker': 'FB-US', 'co..."
...,...,...,...,...,...,...,...,...,...,...,...
2204,Zhao Xiaoqiang,Zhao,51,Male,China,NaN,1.0,https://specials-images.forbesimg.com/imageser...,"Fashion, Entertainment",Fashion & Retail,NaN
2205,Zhou Liangzhang,Zhou,55,Male,China,NaN,1.0,https://specials-images.forbesimg.com/imageser...,Electrical Equipment,Manufacturing,NaN
2206,Zhu Xingming,Zhu,51,Male,China,Shenzhen,1.0,https://specials-images.forbesimg.com/imageser...,Electrical Equipment,Manufacturing,"[{'exchange': 'SHENZHEN', 'ticker': '300124-CN..."
2207,Zhuo Jun,Zhuo,52,Female,Hong Kong,Hong Kong,1.0,https://specials-images.forbesimg.com/imageser...,Printed Circuit Boards,Manufacturing,"[{'exchange': 'SHANGHAI', 'ticker': '603228-CN..."
2208,Olgun Zorlu,Zorlu,54,Male,Turkey,NaN,1.0,https://specials-images.forbesimg.com/imageser...,Diversified,Diversified,NaN

In [31]:
report1 = pd.DataFrame(tabla.groupby('Sector')['Name'].count().sort_values(ascending=False))
report1.rename(columns = {'Name':'Count'}, inplace = True)
report1['Percentage']=round(report1.Count/sum(report1.Count)*100,1)
report1 = report1.reset_index()
report1.index += 1
report1

                         Sector  Count  Percentage
1      Finance And Investments     310        14.0
2             Fashion & Retail     235        10.6
3                  Real Estate     220        10.0
4                Manufacturing     207         9.4
5                   Technology     205         9.3
6                  Diversified     194         8.8
7            Food And Beverage     165         7.5
8                   Healthcare     134         6.1
9                       Energy      94         4.3
10       Media & Entertainment      73         3.3
11                     Service      72         3.3
12             Metals & Mining      72         3.3
13                  Automotive      59         2.7
14  Construction & Engineering      45         2.0
15                   Logistics      40         1.8
16                     Telecom      31         1.4
17          Gambling & Casinos      28         1.3
18                      Sports      23         1.0
19            Philanthropy/Ngo       1         0.0

In [32]:
report2 = pd.DataFrame(tabla.groupby('Gender')['Name'].count().sort_values(ascending=False))
report2.rename(columns = {'Name':'Count'}, inplace = True)
report2['Percentage']=round(report2.Count/sum(report2.Count)*100,1)
report2 = report2.reset_index()
report2.index += 1
report2

   Gender  Count  Percentage
1    Male   1821        88.7
2  Female    232        11.3

In [34]:
report3 = pd.DataFrame(tabla.loc[tabla['Age']!=-1,:].groupby('Sector')['Age','Worth'].agg(['min', 'max', 'mean', 'median', 'std']))
report3

                            Age                                  Worth         \
                            min max       mean median        std   min    max
Sector
Automotive                   43  92  64.909091   63.0  12.127826   1.0   25.3
Construction & Engineering   38  93  65.674419   66.0  13.168724   1.0   17.8
Diversified                  22  94  65.585635   66.0  14.098054   1.0   60.0
Energy                       36  90  63.691489   62.5  11.868479   1.1   40.1
Fashion & Retail             32  94  66.646552   68.0  12.301940   1.0   72.0
Finance And Investments      42  97  65.666667   65.0  12.092810   1.0   84.0
Food And Beverage            26  95  64.666667   64.0  12.894247   1.0   27.4
Gambling & Casinos           41  94  64.964286   65.5  14.938100   1.0   38.5
Healthcare                   29  92  63.135338   64.0  13.071935   1.0   12.8
Logistics                    41  99  64.675000   62.0  16.297534   1.1   15.3
Manufacturing                34  95  63.275862   61.0  12.597845   1.0   20.1
Media & Entertainment        39  95  65.794521   65.0  12.848431   1.0   50.0
Metals & Mining              32  86  57.732394   56.0   9.727660   1.0   19.1
Philanthropy/Ngo             54  54  54.000000   54.0        NaN  18.8   18.8
Real Estate                  37  97  65.594340   66.0  11.980457   1.0   30.3
Service                      36  92  63.579710   63.0  13.496629   1.0   18.2
Sports                       49  94  70.173913   71.0  11.998682   1.0    8.3
Technology                   28  89  54.825000   52.5  13.165524   1.0  112.0
Telecom                      45  80  61.645161   62.0   9.803225   1.0   67.1


                                  mean median        std
Sector
Automotive                    4.241818   2.00   5.842174
Construction & Engineering    3.093023   2.30   3.095880
Diversified                   4.024862   2.00   7.275292
Energy                        4.263830   2.20   5.378509
Fashion & Retail              5.096121   2.40   9.323783
Finance And Investments       3.704248   2.30   5.736642
Food And Beverage             4.106289   2.40   4.621862
Gambling & Casinos            5.121429   3.25   7.449104
Healthcare                    2.890226   2.10   2.157540
Logistics                     3.077500   2.15   2.735754
Manufacturing                 2.956158   1.80   2.988426
Media & Entertainment         4.673973   2.60   6.778869
Metals & Mining               4.467606   2.10   5.072412
Philanthropy/Ngo             18.800000  18.80        NaN
Real Estate                   3.414151   2.20   4.189729
Service                       3.052174   2.20   2.668091
Sports                        3.026087   2.50   1.719465
Technology                    6.270500   2.35  13.520960
Telecom                       5.848387   2.70  12.092391

In [6]:
report4 = pd.DataFrame(tabla.groupby('Sector')['Worth'].agg(['min', 'max', 'mean', 'median', 'std']))

In [7]:
report4

                              min    max       mean  median        std
Sector
Automotive                    1.0   25.3   4.135593    2.00   5.654866
Construction & Engineering    1.0   17.8   3.222222    2.50   3.093680
Diversified                   1.0   60.0   4.019588    2.05   7.132915
Energy                        1.1   40.1   4.263830    2.20   5.378509
Fashion & Retail              1.0   72.0   5.073617    2.40   9.270216
Finance And Investments       1.0   84.0   3.685484    2.30   5.703081
Food And Beverage             1.0   27.4   4.109697    2.50   4.552823
Gambling & Casinos            1.0   38.5   5.121429    3.25   7.449104
Healthcare                    1.0   12.8   2.882836    2.10   2.151115
Logistics                     1.1   15.3   3.077500    2.15   2.735754
Manufacturing                 1.0   20.1   2.964734    1.80   2.965000
Media & Entertainment         1.0   50.0   4.673973    2.60   6.778869
Metals & Mining               1.0   19.1   4.473611    2.15   5.036822
Philanthropy/Ngo             18.8   18.8  18.800000   18.80        NaN
Real Estate                   1.0   30.3   3.580000    2.25   4.320342
Service                       1.0   18.2   3.040278    2.30   2.625802
Sports                        1.0    8.3   3.026087    2.50   1.719465
Technology                    1.0  112.0   6.200488    2.30  13.377419
Telecom                       1.0   67.1   5.848387    2.70  12.092391

In [8]:
pd.cut(tabla.loc[tabla['Age']!=-1,'Age'], bins=5)

Position
1         (52.8, 68.2]
2         (52.8, 68.2]
3         (83.6, 99.0]
4         (68.2, 83.6]
5       (21.923, 37.4]
             ...
2204      (37.4, 52.8]
2205      (52.8, 68.2]
2206      (37.4, 52.8]
2207      (37.4, 52.8]
2208      (52.8, 68.2]
Name: Age, Length: 2154, dtype: category
Categories (5, interval[float64]): [(21.923, 37.4] < (37.4, 52.8] < (52.8, 68.2] < (68.2, 83.6] < (83.6, 99.0]]

In [41]:
mpg_labels = ['Younger: < 38', 'A little less young: 38 < 53', 'Moderate: 53 < 68', 'A little old: 68 < 84', 'Older 84 < 99']
report5 = pd.DataFrame(pd.cut(tabla.loc[tabla['Age']!=-1,'Age'], bins=5, labels=mpg_labels))
report5 = pd.DataFrame(report5.groupby('Age')['Age'].count())
report5.rename(columns = {'Age':'Age_group','Age':'Age_count'}, inplace = True)
report5['Percentage']=round(report5.Age_count/sum(report5.Age_count)*100,1)
report5 = report5.reset_index()
report5.index += 1
report5.rename(columns = {'Age':'Age_group'}, inplace = True)
report5

                      Age_group  Age_count  Percentage
1                 Younger: < 38         39         1.8
2  A little less young: 38 < 53        399        18.5
3             Moderate: 53 < 68        945        43.9
4         A little old: 68 < 84        606        28.1
5                 Older 84 < 99        165         7.7

In [10]:
image5 = tabla.loc[tabla['Age']!=-1,'Age'].hist(bins=5, figsize=(16, 8));
fig = image5.get_figure()
fig.savefig('image5.png')

In [42]:
report6 = pd.DataFrame(tabla.groupby('Company')['Name'].count().sort_values(ascending=False))
report6.rename(columns = {'Name':'Count'}, inplace = True)
report6['Percentage']=round(report6.Count/sum(report6.Count)*100,1)
report6 = report6.head(10)
report6 = report6.reset_index()
report6.index += 1
report6

            Company  Count  Percentage
1       Real Estate    181         8.2
2       Investments     88         4.0
3       Diversified     87         3.9
4   Pharmaceuticals     71         3.2
5            Retail     44         2.0
6       Hedge Funds     40         1.8
7           Banking     37         1.7
8    Consumer Goods     32         1.4
9          Software     26         1.2
10        Chemicals     24         1.1

In [12]:
import random
import imgkit
import pandas
import os

In [13]:
css = """
<style type=\"text/css\">
table {
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 100%;
background-color: #FFFFFF;
border-color: #7ea8f8;
border-collapse: collapse;
border-style: solid;
border-spacing: 0;
color: #000000;
}
td, th {
border-color: #7ea8f8;
height: 30px;
text-align: center;
}
th {
background: #DFDFDF;
font-weight: bold;
}
td {
background: #FFFFFF;
text-align: center;
}
table tr:nth-child(odd) td{
background-color: white;
}
</style>
"""

In [14]:
def DataFrame_to_image(data, css, outputfile="out.png", format="png"):
    '''
    For rendering a Pandas DataFrame as an image.
    data: a pandas DataFrame
    css: a string containing rules for styling the output table. This must 
         contain both the opening an closing <style> tags.
    *outputimage: filename for saving of generated image
    *format: output format, as supported by IMGKit. Default is "png"
    '''
    fn = str(random.random()*100000000).split(".")[0] + ".html"
    
    try:
        os.remove(fn)
    except:
        None
    text_file = open(fn, "a")
    
    # write the CSS
    text_file.write(css)
    # write the HTML-ized Pandas DataFrame
    text_file.write(data.to_html())
    text_file.close()
    
    # See IMGKit options for full configuration,
    # e.g. cropping of final image
    imgkitoptions = {"format": format}
    
    imgkit.from_file(fn, outputfile, options=imgkitoptions)
    os.remove(fn)

In [15]:
DataFrame_to_image(report1,css,'report1.png')

libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
Loading page (1/2)
Rendering (2/2)
Done

In [16]:
DataFrame_to_image(report2,css,'report2.png')

libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
Loading page (1/2)
Rendering (2/2)
Done

In [17]:
DataFrame_to_image(report3,css,'report3.png')

libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
Loading page (1/2)
Rendering (2/2)
Done

In [18]:
DataFrame_to_image(report4,css,'report4.png')

libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
Loading page (1/2)
Rendering (2/2)
Done

In [19]:
DataFrame_to_image(report5,css,'report5.png')

libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
Loading page (1/2)
Rendering (2/2)
Done

In [20]:
DataFrame_to_image(report6,css,'report6.png')

libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
Loading page (1/2)
Rendering (2/2)
Done

In [22]:
import pandas as pd
import matplotlib
from pylab import title, figure, xlabel, ylabel, xticks, bar, legend, axis, savefig
from fpdf import FPDF

pdf = FPDF()
pdf.add_page()
pdf.set_xy(0, 0)
pdf.set_font('arial', 'B', 12)
pdf.cell(60)
pdf.cell(80, 25, "A Tabular and Graphical Report of Forbes Billionaires 2018", 0, 2, 'C')
pdf.cell(90, 10, " ", 0, 2, 'C')
pdf.cell(-40)
pdf.image('report1.png', x = None, y = None, w = 175, h = 0, type = '', link = '')
pdf.cell(90, 10, " ", 0, 2, 'C')
pdf.image('report2.png', x = None, y = None, w = 175, h = 0, type = '', link = '')
pdf.cell(90, 10, " ", 0, 2, 'C')
pdf.image('report3.png', x = None, y = None, w = 175, h = 0, type = '', link = '')
pdf.cell(90, 10, " ", 0, 2, 'C')
#pdf.image('report4.png', x = None, y = None, w = 175, h = 0, type = '', link = '')
#pdf.cell(90, 10, " ", 0, 2, 'C')
pdf.image('report5.png', x = None, y = None, w = 175, h = 0, type = '', link = '')
pdf.cell(90, 10, " ", 0, 2, 'C')
pdf.image('image5.png', x = None, y = None, w = 175, h = 0, type = '', link = '')
pdf.cell(90, 10, " ", 0, 2, 'C')
pdf.image('report6.png', x = None, y = None, w = 175, h = 0, type = '', link = '')
pdf.output('report_all.pdf', 'F')

''

In [27]:
reports = []
reports.append('image6')
reports.append('image5')

In [28]:
reports

['image6', 'image5']