In [66]:
import pandas as pd
import re
tabla = pd.read_csv('../data/results/ForbesBillionaires2018_add_info.csv', sep=',', index_col=0)

In [67]:
tabla = tabla[['Name','FinancialAssets']].dropna()
tabla

                     Name                                    FinancialAssets
Position
1              Jeff Bezos  [{'exchange': 'NASDAQ', 'ticker': 'AMZN-US', '...
2              Bill Gates  [{'exchange': 'NASDAQ', 'ticker': 'ACGL-US', '...
3          Warren Buffett  [{'exchange': 'NYSE', 'ticker': 'BRK.A-US', 'c...
5         Mark Zuckerberg  [{'exchange': 'NASDAQ', 'ticker': 'FB-US', 'co...
6          Amancio Ortega  [{'exchange': 'MADRID', 'ticker': 'ITX-ES', 'c...
...                   ...                                                ...
2193          Robert Toll  [{'exchange': 'NYSE', 'ticker': 'TOL-US', 'com...
2194       Surin Upatkoon  [{'exchange': 'MALAYSIA', 'ticker': '3859-MY',...
2199          Sandy Weill  [{'exchange': 'NYSE', 'ticker': 'C-US', 'compa...
2206         Zhu Xingming  [{'exchange': 'SHENZHEN', 'ticker': '300124-CN...
2207             Zhuo Jun  [{'exchange': 'SHANGHAI', 'ticker': '603228-CN...

[1067 rows x 2 columns]

In [72]:
def New_DF(Name,FinancialAssets):
    #FinancialAssets_data = []
    for x in FinancialAssets:
        for key, value in x.iteritems():
            temp = [key,value]
            dictlist.append(temp)
            #FinancialAssets_data = str(FinancialAssets).strip(':')
    #the_row = [str(re.findall("exchange': '[A-Z]+",i)) for i in FinancialAssets_data]
    return temp

In [73]:
tabla.apply(lambda row: New_DF(row.Name, row.FinancialAssets), axis=1)

AttributeError: ("'str' object has no attribute 'iteritems'", 'occurred at index 1')

In [ ]:
tabla['Stocks'] = tabla['FinancialAssets'].str.title()